<p>Start editing to see some magic happen :)</p>
<div class="p-field p-col-12 p-md-4">
  <span class="p-float-label p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" id="inputtext-left" />
    <label for="inputtext-left">Left Icon</label>
  </span>
</div>

<div class="field col-12 md:col-4">
  <span class="p-float-label p-input-icon-right">
    <i class="pi pi-spin pi-spinner"></i>
    <input type="text" id="inputtext-right" pInputText />
    <label for="inputtext-right">Right Icon</label>
  </span>
</div>
